* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', cursive;
  line-height: 1.5;
}

h1, h2, h3, .portfolio-name {
  font-family: 'Permanent Marker', cursive;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  background-color: #3E8043;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.portfolio-name {
  font-size: 1.5rem;
  margin: .75rem;
}

.navbar-links {
  display: none;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.headline-container {
  width: 60%;
  margin: 0 auto;
}

.headline {
  text-align: center;
}

.section-title {
  text-align: center;
  margin: .5rem;
  font-size: 2rem;
  text-decoration: underline;
}

.bio-container {
  margin: 0 10% 0 10%;
  padding: 10px;
  border: 2px solid black;
  background-color: #7DFF86;
  border-radius: 4px;
}

.bio-container p {
  margin: 0;
}

.project-container {
  margin: 0 10% 5% 10%;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7DFF86;
  border-radius: 4px;
}

.screenshot {
  width: 120px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid black;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  margin: 0 auto;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3E8043;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.contact-title {
  margin: 5px;
}

.contact-container p {
  margin: 5px;
}

.contact-links {
  margin: 5px;
}

.contact-links a {
  margin: 2.5px;
  color: white;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }
  
  p {
    font-size: 1.2rem;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 

  .navbar-links {
    display: flex;
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .navbar-links li {
    list-style: none;
    height: 100%;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    height: 100%;
  }
  
  .navbar-links li a:hover {
    background-color: #64CC6B;
  }

  .toggle-button {
    display: none;
  }

  .bio-container {
    margin: 0 20% 5% 20%;
    padding: 15px;
    border: 2px solid black;
  }

  .project-container {
    margin: 0 20% 5% 20%;
    padding: 15px;
  }

  .screenshot {
    width: 168px;
    height: 140px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
  
  p,a {
    font-size: 1.5rem;
  }

  section {
    margin-top: 150px;
  }

  .section-title {
    font-size: 3em;
    margin-bottom: 30px;
    text-decoration: underline;
  }

  .headline-container {
    margin-top: 100px;
  }

  .bio-container, .project-container {
    padding: 35px;
  }
}